#!/usr/bin/env bash

# Please change if you're using an other directory for Projects
export PRJ_DIR="${HOME}/Projects"

# Make vim the default editor.
#export EDITOR='vim';

# Make Textmate the default editor.
export EDITOR="/usr/local/bin/mate -w"

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Autoconf for PHP
export PHP_AUTOCONF=/usr/local/Cellar/autoconf/2.69/bin/autoconf

# DEV_ENV use in many script
export DEV_ENV="NONE"

# Current PHP version
export PHP_VERSION="`php -r \"error_reporting(0); echo str_replace('.', '', substr(phpversion(), 0, 3));\"`"

export JAVA_HOME=$(/usr/libexec/java_home) 
export NEO4J_HOME="${PRJ_DIR}/tools/exakat/neo4j"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"