# Create a new directory and enter it
autoload cdfinder
autoload clean-dropbox
autoload codepoint
autoload dataurl
autoload devenv
autoload escape
autoload extract
autoload filesize
autoload getcertnames
autoload gifify
autoload gitio
autoload gz
autoload json
autoload m
autoload mkcd
autoload o
autoload phpserver
autoload pyserver
autoload sphp
autoload targz
autoload tre
autoload unidecode
autoload update
autoload webmify
