.extra
# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
ehthumbs.db
Thumbs.db
Icon

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.AppleDouble
.localized
.LSOverride

# Node.js & npm.
node_modules
npm-debug.log

# Vim
%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim