# Compiled Python files
*.pyc
VENV

# Folder view configuration files
.DS_Store
.DS_Store?
Desktop.ini

# Thumbnail cache files
._*
ehthumbs.db
Thumbs.db
Icon

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.AppleDouble
.localized
.LSOverride
.com.apple.*
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.vagrant/

# Node.js & npm.
node_modules
npm-debug.log

# IDE
%*
*.sw[a-z]
*.un~
.netrwhist
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Sessionx.vim
*~
[._]*.un~
Session.vim
.vim/viminfo
.vim/swaps/*
.vim/undo
vim/.viminfo
.idea
*.tmproj
*.tmproject
tmtags
.rubymine_helpers
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
out
gen

# credential file
.gitconfig.local

# log files
*.log

# Version Control
.svn/
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
.bzr/
.bzrignore

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz

# databases
*.sql
*.sqlite

# Composer template
composer.phar
/vendor/

# Diff template
*.patch
*.diff

# Backup template
*.bak
*.gho
*.ori
*.orig
*.tmp

